In [1]:
import pandas as pd
import numpy as np

In [8]:
df= pd.read_csv('C:/Users/rgangurde/Downloads/Data/GlobalLandTemperaturesByCity.csv')

In [5]:
df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [9]:
df.dtypes

dt                                object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
City                              object
Country                           object
Latitude                          object
Longitude                         object
dtype: object

In [ ]:
import math
tempAvg= np.mean(np.asarray(df['AverageTemperature']))
tempUnAvg= np.mean(np.asarray(df['AverageTemperatureUncertainty']))

for i in range(len(df)):
    if math.isnan(df['AverageTemperature'][i]):
        df['AverageTemperature'][i]= tempAvg
    if math.isnan(df['AverageTemperatureUncertainty'][i]):
        df['AverageTemperatureUncertainty']= tempUnAvg

C:\Users\rgangurde\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys